<section id="educacion">
    <div id="cartas">
        <div id="main-container-formation">
            <h1>Formación</h1>
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" (click)="onOpenModal('add')" class="btn btn-success">Nueva
                Educacion</button>

            <div *ngFor="let data of perfilData.educations">
                <div *ngIf="esPar(data.id)" class="cardProject">
                    <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="float-right btn-group btn-group-sm"
                        style="color:black;">
                        <a (click)="onOpenModal('edit', data)" class="btn btn-warning tooltips" data-placement="top"
                            data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onDeleteFormation(data)" class="btn btn-danger tooltips" data-placement="top"
                            data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="img">
                        <img src={{data.imagen}} alt={{data.titulo}} width="100%">
                    </div>
                    <div class="descripcion">
                        <h2>{{data.titulo}}</h2>
                        <p>{{data.instituto}} </p>
                        <p>{{data.localidad}} ,Fecha :{{data.fechaInicio}} - {{data.fechaFin}} </p>
                        <p>{{data.descripcion}}</p>
                    </div>
                </div>
                <div *ngIf="!esPar(data.id)" class="cardProjectIzq">
                    <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="float-right btn-group btn-group-sm"
                        style="color:black;">
                        <a (click)="onOpenModal('edit', data)" class="btn btn-warning tooltips" data-placement="top"
                            data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onDeleteFormation(data)" class="btn btn-danger tooltips" data-placement="top"
                            data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>

                    <div class="descripcion">
                        <h2>{{data.titulo}}</h2>
                        <p>{{data.instituto}} </p>
                        <p>{{data.localidad}} ,Fecha :{{data.fechaInicio}} - {{data.fechaFin}} </p>
                        <p>{{data.descripcion}}</p>
                    </div>
                    <div class="img">
                        <img src={{data.imagen}} alt={{data.titulo}} width="100%">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Add Formacion Modal -->
<div class="modal fade" id="addFormationModal" tabindex="-1" role="dialog" aria-labelledby="addFormationModalLabel"
    aria-hidden="true" style="color: black;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFormationModalLabel">Añadir Formacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddFormation(addForm)">
                    <div class="form-group">
                        <label for="titulo">Titulo :</label>
                        <input type="text" ngModel name="titulo" class="form-control" id="titulo" placeholder="Titulo"
                            required required minlength="5" #titulo="ngModel">
                        <div class="alert alert-danger" *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">
                            <div *ngIf="titulo.errors">
                                El titulo es requerido debe ser mayor a 5 caracteres !
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="instituto">Instituto :</label>
                        <input type="instituto" ngModel name="instituto" class="form-control" id="instituto"
                            placeholder="Instituto" required minlength="5" #instituto="ngModel">
                        <div class="alert alert-danger"
                            *ngIf="instituto.invalid && (instituto.dirty || instituto.touched)">
                            <div *ngIf="instituto.errors">
                                Instituto es requerido debe ser mayor a 5 caracteres !
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="localidad">Lugar :</label>
                        <input type="text" ngModel name="localidad" class="form-control" id="localidad"
                            placeholder="Lugar" required minlength="5" #lugar="ngModel">
                        <div class="alert alert-danger" *ngIf="lugar.invalid && (lugar.dirty || lugar.touched)">
                            <div *ngIf="lugar.errors">
                                Lugar de estudio es requerido debe ser mayor a 5 caracteres !
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="imagen">Imagen :</label>
                        <input type="url" ngModel name="imagen" class="form-control" id="imagen" placeholder="imagen"
                            required #imagen="ngModel" pattern={{reg}}>
                        <div class="alert alert-danger" *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)">
                            <div *ngIf="imagen.errors">
                                El link debe ser en formato : "http://www.google.com" y requerido!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fechaInicio">Fecha de Inicio :</label>
                        <input type="date" ngModel name="fechaInicio" class="form-control" id="fechaInicio">
                    </div>
                    <div class="form-group">
                        <label for="fechaFin">Fecha de Salida :</label>
                        <input type="date" ngModel name="fechaFin" class="form-control" id="fechaFin">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <textarea type="text" ngModel name="descripcion" class="form-control" id="descripcion"
                            placeholder="Descripcion" required minlength="10" #descripcion="ngModel"></textarea>
                        <div class="alert alert-danger"
                            *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                            <div *ngIf="descripcion.errors">
                                Descripcion es requerido debe ser mayor a 10 caracteres !
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-formation-form" class="btn btn-secondary"
                            data-dismiss="modal">Cerrar</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit modal -->
<div class="modal fade" id="editFormationModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel"
    aria-hidden="true" style="color: black;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateFormationModalLabel">Editar Formation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">

                    <div class="form-group">
                        <label for="titulo">Titulo : </label>

                        <input type="hidden" ngModel="{{editFormation?.id}}" name="id" class="form-control" id="id">
                        <input type="text" ngModel="{{editFormation?.titulo}}" name="titulo" class="form-control"
                            id="name" placeholder="Titulo" required minlength="5" #titulo="ngModel">
                        <div class="alert alert-danger" *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">
                            <div *ngIf="titulo.errors">
                                El titulo es requerido debe ser mayor a 5 caracteres !
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="instituto">Instituto :</label>
                        <input type="instituto" ngModel="{{editFormation?.instituto}}" name="instituto"
                            class="form-control" id="instituto" placeholder="Instituto" required minlength="5"
                            #instituto="ngModel">
                        <div class="alert alert-danger"
                            *ngIf="instituto.invalid && (instituto.dirty || instituto.touched)">
                            <div *ngIf="instituto.errors">
                                Instituto es requerido debe ser mayor a 5 caracteres !
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="localidad">Lugar : </label>
                        <input type="text" ngModel="{{editFormation?.localidad}}" name="localidad" class="form-control"
                            id="formation" placeholder="Lugar" required minlength="5" #lugar="ngModel">
                        <div class="alert alert-danger" *ngIf="lugar.invalid && (lugar.dirty || lugar.touched)">
                            <div *ngIf="lugar.errors">
                                Lugar de estudio es requerido debe ser mayor a 5 caracteres !
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url">Imagen :</label>
                        <input type="url" ngModel="{{editFormation?.imagen}}" name="imagen" class="form-control"
                            id="imagen" placeholder="imagen" required #imagen="ngModel" pattern={{reg}}>
                        <div class="alert alert-danger" *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)">
                            <div *ngIf="imagen.errors">
                                El link debe ser en formato : "http://www.google.com" y requerido!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fechaInicio">Fecha de Inicio :</label>
                        <input type="date" ngModel="{{editFormation?.fechaInicio}}" name="fechaInicio"
                            class="form-control" id="fechaInicio">
                    </div>
                    <div class="form-group">
                        <label for="fechaFin">Fecha de Salida :</label>
                        <input type="date" ngModel="{{editFormation?.fechaFin}}" name="fechaFin" class="form-control"
                            id="fechaFin">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion :</label>
                        <textarea type="text" ngModel="{{editFormation?.descripcion}}" name="descripcion"
                            class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion" required
                            minlength="10" #descripcion="ngModel"></textarea>
                        <div class="alert alert-danger"
                            *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                            <div *ngIf="descripcion.errors">
                                Descripcion es requerido debe ser mayor a 10 caracteres !
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                        <button [disabled]="editForm.invalid" (click)="onUpdateFormation(editForm.value)"
                            data-dismiss="modal" class="btn btn-primary">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>