<header>
    <nav>
        <div class="argentina">
            <img src="../assets/images/APLogo-20-20.png" alt="Argentina">
            <p>Argentina Programa</p>
            <p>#Yo Programo</p>
        </div>
        <div class="entrar">
            <ul class="socialIcons">
                <li class="facebook"><a href=""><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
                <li class="twitter"><a href=""><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
                <li class="instagram"><a href=""><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
                <li class="pinterest"><a href=""><i class="fa fa-fw fa-pinterest-p"></i>Pinterest</a></li>
                <li class="steam"><a href=""><i class="fa fa-fw fa-steam"></i>Steam</a></li>
                <li></li>
            </ul>
            <button type="button" class="btn btn-outline-dark">Sing In</button>   
        </div>    
    </nav>
</header>