<section id="banner">
    
    <div class="foto">
        <div *ngIf="authService.hasRole('ROLE_ADMIN')"  class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <div  class="float-right btn-group btn-group-sm">
                <a (click)="openModal(perfilData)" class="btn btn-warning tooltips" data-placement="top"
                    data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            </div>
        </div>
        <img  *ngIf="perfilData?.foto" src="{{urlBackend}}/porfolio/uploads/img/{{perfilData.foto}}" alt="Foto">
        <app-fotos [perfil]="perfilSelect"></app-fotos>
    </div>
    <div class="contenedorTextoBanner" id="main-container-perfil">
        
        <div class="tituloPrincipal">
            <div *ngIf="authService.hasRole('ROLE_ADMIN')"  class="float-right btn-group btn-group-sm" >
                <a (click)="onOpenModal('edit',perfilData)" class="btn btn-warning tooltips" style="color:black;"
                    data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            </div>
        
            <h1> {{perfilData.apellido}} {{perfilData.nombre}}</h1>
            <h1>{{perfilData.titulo}}</h1>
        </div>
        <div class="bajada">
            <h2>
                {{perfilData.acerca}}
            </h2>
            
            <br />
            <i class="fas fa-envelope icons"></i>&nbsp;{{perfilData.email}} <br />
            <i class="fas fa-map-marker-alt icons"></i>&nbsp;{{perfilData.ciudad}}<br />
            <i class="fa-solid fa-phone icons"></i>&nbsp;{{perfilData.telefono}} <br />

        </div>
    </div>
</section>
<!-- Edit modal -->
<div class="modal fade" id="editPersonModal" tabindex="-1" role="dialog" aria-labelledby="personEditModalLabel"
aria-hidden="true" style="color: black;">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="personEditModalLabel">Editar Informacion Personal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form #editForm="ngForm">

                <div class="form-group">
                    <label for="apellido">Apellido</label>

                    <input type="hidden" ngModel="{{editPerfil?.id}}" name="id" class="form-control" id="id"
                        placeholder="instituto">
                    <input type="text" ngModel="{{editPerfil?.apellido}}" name="apellido" class="form-control"
                        id="apellido" placeholder="Apellido" required minlength="5" #apellido="ngModel">
                        <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                            <div *ngIf="apellido.errors">
                                Apellido es requerido debe ser mayor a 5 caracteres !
                            </div>
                        </div>
                </div>

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="nombre" ngModel="{{editPerfil?.nombre}}" name="nombre" class="form-control"
                        id="nombre" placeholder="Nombre" required minlength="5" #nombre="ngModel">
                        <div class="alert alert-danger" *ngIf="nombre.invalid && (apellido.dirty || nombre.touched)">
                            <div *ngIf="nombre.errors">
                                Nombre es requerido debe ser mayor a 5 caracteres !
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" ngModel="{{editPerfil?.email}}" name="email" class="form-control"
                        id="email" placeholder="Email" required email #email="ngModel">
                        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                            <div *ngIf="email.errors">
                                Apellido es requerido y tener formato valido!
                            </div>
                        </div>
                </div>

                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="text" ngModel="{{editPerfil?.telefono}}" name="telefono" class="form-control"
                        id="telefono" name="telefono" placeholder="telefono">
                </div>
                <div class="form-group">
                    <label for="ciudad">Ciudad</label>
                    <input type="text" ngModel="{{editPerfil?.ciudad}}" name="ciudad" class="form-control"
                        id="ciudad" name="ciudad" placeholder="Ciudad">
                </div>
                <div class="form-group">
                    <label for="acerca">Acerca de Mi:</label>
                    <textarea type="text" ngModel="{{editPerfil?.acerca}}" name="acerca" class="form-control"
                        id="acerca" name="acerca" required minlength="5" #acerca="ngModel"></textarea>
                        <div class="alert alert-danger" *ngIf="acerca.invalid && (acerca.dirty || acerca.touched)">
                            <div *ngIf="acerca.errors">
                                Acerca de mi es requerido debe ser mayor a 5 caracteres !
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                    <button [disabled]="editForm.invalid" type="submit"   (click)="onUpdatePerson(editForm.value)" data-dismiss="modal"
                        class="btn btn-primary">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>