<section id="skills">
    <div class="containerSkillsIt">
        <h1>Skills IT</h1>
        <div class="skillsIt">
            <div *ngFor="let data of perfilData.skills">
                <circle-progress
                 [percent]="data.porciento"
                 [radius]="70" [outerStrokeWidth]="6"
                 [innerStrokeWidth]="2"
                 [backgroundColor]="'#ff9c97'"
                 [outerStrokeColor]="'#eee9e5'"
                 [innerStrokeColor]="'transparent'"
                 [animation]="true"
                 [animationDuration]="300" 
                 [title]="data.habilidad" 
                 [subtitle]="data.nivel" 
                 [titleColor]="'#02031a'"
                 [subtitleColor]="'#02031a'"></circle-progress>
            </div>

        </div>
    </div>
</section>