/* Estilos generales */
body, main, header {
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

/* Estilos nav */
header {
    width: 100%;
    background-color: #ff9ef3;
}
#experiencia{
    background-color: #d1efec;
}

#proyectos{
    background-color: #d1efec;
}

nav {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}


/* Estilos del banner */
#banner {
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.foto {
    width: 30%;
}
.foto img {
    width: 70%;
    border-radius: 100%;
    box-shadow: black;
}
.contenedorTextoBanner {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3em;
    color: #381000;
}
.tituloPrincipal h1 {
    width: 80%;
    margin: 0 auto;
    font-size: 4em;
    font-weight: bold;
}
.bajada h2 {
    font-size: 2em;
    font-style: italic;
}


/* Estilo skills */
#skills {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#skills h1{
    font-size: 3.5em;
    font-weight: bold;
    margin: 1em;
    text-align: center;
    color:#381000;
}

.containerSkillsIt {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skillsIt {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cardSkill {
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: flex-end;
}
.cardSkill p {
    font-weight: bold;
    margin-top: 0.5em;
    font-size: 1.5em;
}


#cartas {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}
#cartas h1 {
    font-size: 3.5em;
    font-weight: bold;
    margin: 1em;
    text-align: center;
    color:#381000
}
.cardProject {
    width: 80%;
    margin: 0 auto;
    align-items: flex-start;
    display: flex;
    padding: 4em 0;
    align-items: center;
}
.cardProject .img {
    width: 40%;
    margin-right: 2em;
}
.cardProject .img img:hover {
    width: 110%;
    transition: 500ms;
}
.cardProject .descripcion {
    display: flex;
    flex-direction: column;
}
.cardProject h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
}
.cardProject .botones {
    margin-top: 1em;
}
.cardProject .botones .github {
    border: none;
    background-color: blue;
    width: 12em;
    height: 3em;
    margin-right: 1em;    
}
.cardProject .botones .github a {
    text-decoration: none;
    color: white;
}
.cardProject .botones .github:hover {
    background-color: #bbbbbb;
    font-weight: bold;
}
.cardProject .botones .demo {
    border: none;
    background-color: white;
    color: blue;
    border: 2px solid blue;
    width: 12em;
    height: 3em;
    margin-right: 1em;    
}
.cardProject .botones .demo a {
    text-decoration: none;
    color: blue;
}
.cardProject .botones .demo:hover {
    background-color: #bbbbbb;
    color: black;
    font-weight: bold;
}
.cardProjectIzq {
    width: 80%;
    margin: 0 auto;
    align-items: flex-end;
    display: flex;
    padding: 2em;
    align-items: center;
}
.cardProjectIzq .img {
    width: 40%;
    margin-left: 2em;
}
.cardProjectIzq .img img:hover {
    width: 110%;
    transition: 500ms;
}
.cardProjectIzq .descripcion {
    display: flex;
    flex-direction: column;
}
.cardProjectIzq h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
}
.cardProjectIzq .botones {
    margin-top: 1em;
}
.cardProjectIzq .botones .github {
    border: none;
    background-color: blue;
    color: white;
    width: 12em;
    height: 3em;
    margin-right: 1em;
    text-decoration: none;    
}
.cardProjectIzq .botones .github a {
    text-decoration: none;
    color: white;
}
.cardProjectIzq .botones .github:hover {
    background-color: #bbbbbb;
    color: black;
    font-weight: bold;
}
.cardProjectIzq .botones .demo {
    border: none;
    background-color: white;
    color: blue;
    border: 2px solid blue;
    width: 12em;
    height: 3em;
    margin-right: 1em;    
}
.cardProjectIzq .botones .demo a {
    text-decoration: none;
    color: blue;
}
.cardProjectIzq .botones .demo:hover {
    background-color: #bbbbbb;
    color: black;
    font-weight: bold;
}



@media screen and (max-width: 992px) {
    header {
        height: 5em;
        align-items: center;
        padding-top: 0.5em;
    }
    .github {
        margin: 1em 0;
    }
    .botones {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
@media screen and (max-width: 768px) {
    #banner {
        height: auto;
    }
    .contenedorTextoBanner > div {
        margin: 1em 0;
    }
    #about {
        height: auto;
    }
    #skills {
        height: auto;
    }
    .containerSkillsIt {
        margin: 0.5em;
        padding-bottom: 1em;
    }
    .cardSkill {
        margin: 1em 0;
    }
    #formacion {
        height: auto;
        padding: 1em 0 1em 0;
    }
}
@media screen and (max-width: 576px) {
    header {
        height: auto;
    }
    nav {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 1em 0;
        padding-bottom: 1em;
    }
    nav .links {
        width: 90%;
        margin: 0 auto;
    }
    #banner {
        flex-direction: column;
    }
    .foto {
        width: 50%;
    }
    .tituloPrincipal h1 {
        font-size: 3em;
        font-weight: bold;
    }
    .bajada h2 {
        font-size: 1.5em;
        font-style: italic;
    }
    .vinculosBanner {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        padding: 0.5em;
    }
    .vinculosBanner li {
        margin: 0.5em 0;
    }
    #about {
        height: auto;
    }
    .sobreMi {
        height: 100%;
    }
    .textoAbout {
        height: auto;
        padding-bottom: 1em;
    }
    .img {
        width: 100%;
    }
    .cardProject {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    .cardProjectIzq {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: flex-start;
    }
    .cardProjectIzq .img {
        margin-left: 0;
        width: 80%;    
    }
    .cardProject .img {
        margin-left: 0;
        width: 80%;
    }
   

}
